.button-orange {
    text-decoration: none;
    background-color: rgb(255, 154, 118);
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease;
}

.button-orange:hover {
	background-color: rgb(172, 75, 28);
	color: white;
}
